*{
    margin:0;
}
body{
background-image: url("../img/header-bg1.png") ;
}
a{
    text-decoration: none;
    color: #BCBCBE;
    font-size: 32px; 
}
nav{
    display: flex;
    justify-content: space-around;
}
button{
    background: none;
    border: none;
    padding-top: 40px;
}
.name{
    padding-top: 270px;
    padding-left: 290px;
    font-size: 48px;
    color: #ffffff; 
}
.art1{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.ak47{
    width: 901px;
    height: 701px;
}
.imgpos{
    position: absolute;
    left: 200px;
    top: 40px;
}
.vek{
    position: absolute;
    right: 300px;
    top: 135px;
    width: 400px;
    height: 400px;
    z-index: -1;
}
.art2{
    display: flex;
    align-items: center;
}
.vert{
    display: flex;
    flex-direction: column;
}
.krug{
    position: relative;
    top: 0;
    left: -500px;
}
.but1{
    background-color: #7668CB;
    padding: 30px 60px;
    border-radius: 10px ;
}
a:hover{
    color: #ffffff;
}
